@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background: #e2ebf3;
}

.sign-up{
  width :60%;
  margin :5% auto;
  padding:4%;
  border:1px solid black;
  border-radius:5px;
}
.newUserName{
  width: 60%;
  line-height:20px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 65px;
}
.newUserID{
  width: 60%;
  line-height:20px;
  margin-bottom: 10px;
  margin-right: 90px;
  margin-left:4px;

}
.passcode{
  width:60%;
  line-height:20px;
  margin-bottom: 10px;
  margin-right: 90px;
  margin-left:37px;

}
.emailAdd{
  width:60%;
  line-height:20px;
  margin-bottom: 10px;
  margin-right: 90px;
  margin-left:68px;
}

.submit{
  margin: 20px;
  text-align: center;
  margin-left: 200px;

}