@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background: #e2ebf3;
}

h1 {
  text-align: center;
}

.add-form-label {
  display: inline-block;
  width: 80%;
  margin: 10px 10%;
  position: relative;
}

.add-q-form-container {
  margin: 20px auto;
  border: 1px solid black;
  width: 600px;
}

.category-input, .question-input, .answer-input {
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  width: 70%;
  left: 20%;
}

.add-form-button {
  display: block;
  margin: 10px auto;
}

.sign-up{
  width :60%;
  margin :5% auto;
  padding:4%;
  border:1px solid black;
  border-radius:5px;
}
.newUserName{
  width: 60%;
  line-height:20px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 65px;
}
.newUserID{
  width: 60%;
  line-height:20px;
  margin-bottom: 10px;
  margin-right: 90px;
  margin-left:4px;

}
.passcode{
  width:60%;
  line-height:20px;
  margin-bottom: 10px;
  margin-right: 90px;
  margin-left:37px;

}
.emailAdd{
  width:60%;
  line-height:20px;
  margin-bottom: 10px;
  margin-right: 90px;
  margin-left:68px;
}

.submit{
  margin: 20px;
  text-align: center;
  margin-left: 200px;

}
